@if(!loggedIn){
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <label for="username">Username:</label>
            <input type="text" id="username" [(ngModel)]="username"
                name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" [(ngModel)]="password"
                name="password" required>
            @if(error != ""){
            <hr>
            {{error}}
            }
        </div>
        <div class="modal-footer">
            <button type="submit"
                class="btn btn-outline-secondary">Login</button>
        </div>
    </form>
</ng-template>

<button class="btn btn-outline-primary" (click)="open(content)">Login</button>
<!-- 
<hr />

<pre>{{ closeResult }}</pre> -->
} @else {
<button class="btn btn-outline-primary"
    (click)="Reload()">{{usernameDisplay}}</button>
}