<div class="center">
    <div class="content" style="padding:15px">
        <h1>Sign Up</h1>
        <hr>
        <form (ngSubmit)="onSubmit()">
            <div class>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"
                            id="basic-addon1">Username</span>
                    </div>
                    <input type="text" name="username" class="form-control"
                        id="username" [(ngModel)]="username" aria-label="username"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"
                            id="basic-addon1">Password</span>
                    </div>
                    <input type="password" name="password" class="form-control"
                        id="password" [(ngModel)]="password" aria-label="password"
                        aria-describedby="basic-addon1">
                </div>
                @if(error != ""){
                <hr>
                {{error}}
                }
            </div>
            <div class>
                <button type="submit"
                    class="btn btn-outline-secondary">Login</button>
            </div>
        </form>
    </div>
</div>