<div class="EventBlock">
    <div class="title-row">
        <div class="Name">
            {{eventData.name}}
        </div>
        <div class="padding"></div>
        <div class="Star">
            {{eventData.awards_finalized}}
        </div>
    </div>
    <div class="info-row">
        <div class="Location">
            {{eventData.location.city}}, {{eventData.location.region}}
        </div>
        <div class="padding"></div>
        <div class="Dates">
            {{date}}
        </div>
    </div>
</div>