<div class="EventBlock" (click)="emitEventBlockClicked()">
    <div class="title-row">
        <div class="Name">
            {{eventData.name}}
        </div>
        <div class="padding"></div>
        <div class="Star">
            @if(isStarred){
                <i class="bi-star-fill" style="font-size: 2rem; color: black;" (click)="toggleStar($event)"></i>
            }@else{
            <i class="bi-star" style="font-size: 2rem; color: black;" (click)="toggleStar($event)"></i>
            }
            
        </div>
    </div>
    <div class="info-row">
        <div class="Location">
            {{eventData.location.city}}, {{eventData.location.region}}
        </div>
        <div class="padding"></div>
        <div class="Dates">
            {{date}}
        </div>
    </div>
</div>