.TeamBlock {
    border-radius: 15px;
    background: #a0e8e1;
    padding: 5px;
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}

.TeamBlock:hover {
    background: #70c7c0;
    outline: 3px solid #487975;
}

.TeamBlock:active {
    background: #487975;
    outline: 3px solid #2c4c48;
}

.title-row{
    display: flex;
    flex-direction: row;

    height: 30%;
    padding: 5px;
    padding-bottom: 0px;
}

.info-row{
    display: flex;
    flex-direction: row;
    
    height: 30%;
    padding: 5px;
    padding-top: 0px;
    
}

.Name{
    flex: 0 0 80%;
    max-width: 80%;
    /* height: 30%; */

    display: flex;
    justify-content: left;
    align-items: center;

    font-size: 1.25em;
}

.Location{
    flex: 1 1 30%;
    max-width: 60%;
    /* height: 30%; */
    width: fit-content;

    display: flex;
    justify-content: left;
    align-items: center;

    font-size: 1em;
}

.Star{
    font-size: 1em;
    flex: 0 0 10%;
    max-width: 10%;
    float: right;
}

.Dates{
    flex: 1 1 40%;
    max-width: 80%;
    /* height: 30%; */
    padding-right: 10px;
    width: fit-content;

    display: flex;
    justify-content: right;
    align-items: center;

    font-size: 1em;
}

.padding{
    flex: 8 8 30%;
    max-width: 100%;
    min-width: 0%;
}