<div class="TeamBlock" (click)="emitTeamBlockClicked()">
    <div class="title-row">
        <div class="Name">
            {{teamData.number}}
        </div>
        <div class="padding"></div>
        <div class="Star">
            @if(isStarred){
                <i class="bi-star-fill" style="font-size: 2rem; color: black;" (click)="toggleStar($event)"></i>
            }@else{
            <i class="bi-star" style="font-size: 2rem; color: black;" (click)="toggleStar($event)"></i>
            }
            
        </div>
    </div>
    <div class="info-row">
        <div class="Location">
            {{teamData.team_name}}
        </div>
        <div class="Dates">
            {{teamData.organization}}
        </div>
    </div>
</div>