@if (teams$ | async; as teams) {
<div class="center">
    <div class="center" style="padding: 5px;">
        <div
            style="justify-content: center; display: flex; margin-bottom: 5px;">
            Page: {{teams.meta.current_page }}/{{teams.meta.last_page }}</div>
        <div
            style="justify-content: center; display: flex; flex-direction:row;">
            @if ( teams.meta.current_page > 1 ){
            <button type="button" class="btn btn-outline-primary"
                (click)="reloadWithPage(-1);">
                <
            </button>
            }
            @if ( teams.meta.current_page < teams.meta.last_page){
            <button type="button" class="btn btn-outline-primary"
                (click)="reloadWithPage(1);">
                >
            </button>
            }
        </div>
    </div>
    <div class="content">
        @for (team of teams.data; track team.id) {
        <div class="IntraBlockPadding"></div>
        <app-team-block [teamData]="team" (teamClicked)="sendToPage($event)"></app-team-block>
        }
    </div>
    <div class="center" style="padding: 5px;">
        <div
            style="justify-content: center; display: flex; margin-bottom: 5px;">
            Page: {{teams.meta.current_page }}/{{teams.meta.last_page }}</div>
        <div
            style="justify-content: center; display: flex; flex-direction:row;">
            @if ( teams.meta.current_page > 1 ){
            <button type="button" class="btn btn-outline-primary"
                (click)="reloadWithPage(-1);">
                <
            </button>
            }
            @if ( teams.meta.current_page < teams.meta.last_page){
            <button type="button" class="btn btn-outline-primary"
                (click)="reloadWithPage(1);">
                >
            </button>
            }
        </div>
    </div>
</div>
}@else {
<app-loading></app-loading>
}