<div class="center bg-body-tertiary">
    <div class="content">
        <div>
            <div class="title bg-body-tertiary">
                <h1>{{Title}}</h1>
                <h2>{{Subtitle}}</h2>
            </div>
        </div>
    </div>
</div>
<div class="center">
    <div class="contentW">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
                <button ngbNavLink>Event Info</button>
                <ng-template ngbNavContent>
                    @if(eventData){
                    <div class="EventInfoItem">
                        Competition Dates: {{StartDate}} - {{EndDate}}
                    </div>
                    <div
                        class="EventInfoItem">
                        Location: {{eventData.location.venue}}
                        <div class="EventInfoItem"></div>
                        <div style="padding-left: 20px;">
                            {{eventData.location.city}},
                            {{eventData.location.region}},
                            {{eventData.location.country}}
                        </div>
                    </div>
                    <div class="EventInfoItem">
                        # of Divisions: {{eventData.divisions.length}}
                        <div style="padding-left: 20px;">
                            @for(division of eventData.divisions; track
                            division.id){
                            <div class="EventInfoItem">
                                {{division.name}}
                            </div>
                            }
                        </div>
                    </div>
                    }
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <button ngbNavLink>Teams</button>
                <ng-template ngbNavContent>
                    @if(Teams.data){
                    @for (team of Teams.data; track $index) {
                    <div class="TeamInfoBlock">
                        {{team.number}} -- {{team.team_name}}
                    </div>
                    }
                    @if(Teams.data.length == 0)
                    {
                    <div class="center">
                        <h2>No Data Found</h2>
                    </div>
                    }
                    }@else {
                    <div class="center">
                        <app-loading></app-loading>
                    </div>
                    }
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <button ngbNavLink>Rankings</button>
                <ng-template ngbNavContent>
                    @if(Rankings.data){
                    @for (rank of Rankings.data; track $index) {
                    <div class="TeamInfoBlock">
                        {{rank.team.name}} -- {{rank.wins}}
                    </div>
                    }
                    @if(Rankings.data.length == 0)
                    {
                    <div class="center">
                        <h2>No Data Found</h2>
                    </div>
                    }
                    }@else {
                    <div class="center">
                        <app-loading></app-loading>
                    </div>
                    }
                </ng-template>
            </li>
            <li [ngbNavItem]="4">
                <button ngbNavLink>Matches</button>
                <ng-template ngbNavContent>
                    <div>
                        @if(Matches){
                        @for(match of Matches.data; track match.id){
                        <div class="MatchInfoBlock">
                            <div class="MatchInfoTitle">
                                {{match.name}}
                            </div>
                            <div class="MatchInfoLocation">
                                <div
                                    class="MatchInfoLocationItem">{{convertToTime(match.scheduled)}}</div>
                                <div
                                    class="MatchInfoLocationItem">{{match.field}}</div>
                            </div>
                            <div class="MatchInfoTeams">
                                <div
                                    style="align-content: center; padding: 5px; text-align: center; border-style: solid; border-color:red">{{match.alliances[0].teams[0].team.name}}</div>
                                <div
                                    style="align-content: center; padding: 5px; text-align: center; border-style: solid; border-color:red">{{match.alliances[0].teams[1].team.name}}</div>
                                @if(match.alliances[0].score >
                                match.alliances[1].score){
                                <div
                                    style="align-content: center; padding: 5px; text-align: center; border-style: solid; border-color:red; background-color:red">{{match.alliances[0].score}}</div>
                                }@else {
                                <div
                                    style="align-content: center; padding: 5px; text-align: center; border-style: solid; border-color:red">{{match.alliances[0].score}}</div>
                                }
                                <div
                                    style="align-content: center; padding: 5px; text-align: center; border-style: solid; border-color:blue">{{match.alliances[1].teams[0].team.name}}</div>
                                <div
                                    style="align-content: center; padding: 5px; text-align: center; border-style: solid; border-color:blue">{{match.alliances[1].teams[1].team.name}}</div>
                                @if(match.alliances[1].score >
                                match.alliances[0].score){
                                <div
                                    style="align-content: center; padding: 5px; text-align: center; border-style: solid; border-color:blue; background-color:blue">{{match.alliances[1].score}}</div>
                                }@else {
                                <div
                                    style="align-content: center; padding: 5px; text-align: center; border-style: solid; border-color:blue">{{match.alliances[1].score}}</div>
                                }
                            </div>
                        </div>
                        }
                        @if(Rankings.data.length == 0)
                        {
                        <div class="center">
                            <h2>No Data Found</h2>
                        </div>
                        }
                        }@else {
                        <div class="center">
                            <app-loading></app-loading>
                        </div>
                        }
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="5">
                <button ngbNavLink>Pick list</button>
                <ng-template ngbNavContent>
                    <div>
                        @if (CriteriaConfigs != null){<app-pick-list
                            [eventId]="eventData.id"
                            [teamsList]="Teams"></app-pick-list>
                        }@else {
                        <div class="center">
                            <button class="btn btn-outline-primary"
                                [routerLink]="'/login'"> Login
                            </button>
                        </div>
                        }
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="6">
                <button ngbNavLink>Criteria</button>
                <ng-template ngbNavContent>
                    <div>
                        @if (CriteriaConfigs != null){
                        @for (criteria of CriteriaConfigs.data; track $index) {
                        <input type="text" class="form-control"
                            [(ngModel)]="criteria.criteria_name" />
                        <input type="number" class="form-control"
                            [(ngModel)]="criteria.criteria_weight" />
                        <hr>
                        }
                        <hr>
                        <button class="btn btn-outline-secondary"
                            (click)="addCriteriaConfig()"> New Criteria
                        </button>
                        <button class="btn btn-outline-secondary"
                            (click)="sendCriteriaConfig()"> Save Criteria
                        </button>
                        }@else {
                        <div class="center">
                            <button class="btn btn-outline-primary"
                                [routerLink]="'/login'"> Login
                            </button>
                        </div>
                        }
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="7">
                <button ngbNavLink>Criteria Scores</button>
                <ng-template ngbNavContent>
                    @if (CriteriaConfigs != null){
                    @if(Teams){
                    <div class="splitContent">
                        <div class="leftContent">
                            @for(team of Teams.data; track team.id){
                            <app-team-number-block
                                (teamNumberClicked)="handleTeamNumberClicked($event)"
                                [teamInfo]="team"></app-team-number-block>
                            }
                        </div>
                        <div class="rightContent">
                            <div
                                style="height:100%; background-color: #733939;">
                                @if(eventData.id != null && currentTeam !=
                                null){
                                <app-event-team-criteria
                                    [criteriaInfo]="criteriaOutput"
                                    [teamInfo]="currentTeam"
                                    [eventId]="eventData.id"></app-event-team-criteria>
                                }
                            </div>
                        </div>
                    </div>
                    }
                    }@else {
                    <div class="center">
                        <button class="btn btn-outline-primary"
                            [routerLink]="'/login'"> Login
                        </button>
                    </div>
                    }
                </ng-template>
            </li>
        </ul>

        @if(EventInfo | async; as eventData){
        <div [ngbNavOutlet]="nav" class="mt-2"></div>

        <!-- <pre>Active: {{ active }}</pre> -->
        }@else{
        <app-loading></app-loading>
        }
    </div>

</div>